:root {
  --primary-color: #043a7a;
  --text-color: #32373e;
  --title-color: #0a0a0a;
  --f-text-color: #afbfd2;
  --text-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.site-container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
